################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Game-Boy-Emulator/v15
/.vs
/SDLGameBoy/games
/SDLGameBoy/x64
/SDLGameBoy/bios.bin
/x64/Release/
/SDLGameBoy/gb-test-roms-master/cgb_sound/cgb_sound.gb
/SDLGameBoy/gb-test-roms-master/dmg_sound/rom_singles/12-wave write while on.gb
/SDLGameBoy/gb-test-roms-master/dmg_sound/rom_singles/11-regs after power.gb
/SDLGameBoy/gb-test-roms-master/dmg_sound/rom_singles/10-wave trigger while on.gb
/SDLGameBoy/gb-test-roms-master/dmg_sound/rom_singles/09-wave read while on.gb
/SDLGameBoy/gb-test-roms-master/dmg_sound/rom_singles/08-len ctr during power.gb
/SDLGameBoy/gb-test-roms-master/dmg_sound/rom_singles/07-len sweep period sync.gb
/SDLGameBoy/gb-test-roms-master/dmg_sound/rom_singles/06-overflow on trigger.gb
/SDLGameBoy/gb-test-roms-master/dmg_sound/rom_singles/05-sweep details.gb
/SDLGameBoy/gb-test-roms-master/dmg_sound/rom_singles/04-sweep.gb
/SDLGameBoy/gb-test-roms-master/dmg_sound/rom_singles/03-trigger.gb
/SDLGameBoy/gb-test-roms-master/dmg_sound/rom_singles/02-len ctr.gb
/SDLGameBoy/gb-test-roms-master/dmg_sound/rom_singles/01-registers.gb
/SDLGameBoy/gb-test-roms-master/dmg_sound/dmg_sound.gb
