################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Game-Boy-Emulator/v15
/.vs
/SDLGameBoy/games
/SDLGameBoy/x64
/SDLGameBoy/bios.bin
/x64/Release/
